.about-me {
	display: grid;
	grid-template-columns: minmax(200px, 30%) 1fr;
	text-align: left;
	column-gap: 20px;
}

@media only screen and (max-width: 700px) {
	.about-me {
		grid-template-columns: unset;
		grid-template-rows: 300px max-content;
		align-items: center;
		justify-items: center;
	}

	.about-me .headshot-image {
		width: 250px;
		height: 100%;
	}
}
