.hamburger-menu {
	position: fixed;
	right: 0;
	transition: 0.5s;
	display: grid;
	grid-template-rows: max-content 1fr;
	height: 100%;
}

.hamburger-menu.drawer-open {
	width: 70%;
	height: 100%;
	border-left: 1px solid grey;
}

.hamburger-menu.drawer-closed {
	width: 55px;
	height: 100%;
}

.hamburger-menu.drawer-closed .hamburger-drawer {
	visibility: hidden;
	background-color: transparent;
}
.hamburger-menu.drawer-closed .header-item {
	color: transparent;
}

@media (prefers-color-scheme: dark) {
	.hamburger-menu.drawer-open {
		background-color: var(--background-color-dark);
		color: var(--text-color-light);
	}
}

@media (prefers-color-scheme: light) {
	.hamburger-menu.drawer-open {
		background-color: var(--background-color-dark);
		color: var(--text-color-light);
	}
}
