.project-image {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
}

.personal-projects-body {
	display: grid;
	grid-template-columns: 1fr;
	text-align: center;
	column-gap: 10px;
	row-gap: 20px;
	grid-template-rows: max-content max-content max-content max-content;
	width: 100%;
	height: 100%;
	margin-bottom: 10%;
}

.project-grid {
	display: grid;
	grid-template-columns: 30% 1fr 30%;
	column-gap: 20px;
	text-align: left;
}

@media only screen and (max-width: 700px) {
	.project-grid {
		grid-template-columns: unset;
		align-items: center;
		justify-items: center;
	}

	.project-grid {
		grid-template-rows: 50% 1fr;
	}

	.project-grid.right-image {
		grid-template-rows: 1fr 50%;
	}
	.empty-column {
		display: none;
	}

	.right-image .project-image {
		grid-row: 1;
	}
}
