.first-page {
	background-image: url('assets/images/arcade.jpg');
	background-repeat: round;
}

.center-page {
	display: grid;
	align-items: center;
}

.shadow {
	box-shadow: 10px 10px 5px #30302f;
}
