.first-page {
	background-image: url('assets/images/arcade.jpg');
	background-repeat: round;
}

.center-page {
	display: grid;
	align-items: center;
}

.shadow {
	box-shadow: 10px 10px 5px #30302f;
}

section.about-me-container {
	width: 50%;
}

@media only screen and (max-width: 700px) {
	section.about-me-container {
		width: 75%;
	}
}
