.hamburger-button-slit {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}

.hamburger-button {
    opacity: 0.5;
    transition: .5s;
    margin: 10px;
}

.hamburger-button:hover {
    opacity: 1;
}