.section-header {
    text-transform: uppercase;
}

.section-header a {
    color: black;
    text-decoration: underline solid transparent;
    transition: text-decoration 0.5s ease;

}

.section-header span:nth-child(2), .section-header a:nth-child(2) {
    color: #69f5ff;
}

.section-header span:nth-child(2):hover, .section-header a:nth-child(2):hover {
    color: #69f5ff;
}

.section-header a:hover {
    text-decoration: underline solid black;
}