.header {
    width: 100%;
    background-color: white;
    color: black;
    height: 60px;
    position: fixed;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid grey;
}

.hamburger-menu {
    display: none;
}

@media only screen and (max-width: 1100px) {
    .hamburger-menu {
        display: grid;
    }
  
    .header {
      display: none;
    }
  }