.section {
	width: 60%;
	margin: auto;
	padding: 2em;
	max-height: 100%;
}

@media only screen and (max-width: 1100px) {
	.section {
		width: 80%;
	}
}

@media (prefers-color-scheme: dark) {
	.section {
		background-color: var(--background-color-dark);
		color: var(--text-color-dark);
	}
}

@media (prefers-color-scheme: light) {
	.section {
		background-color: var(--background-color-light);
		color: var(--text-color-light);
	}
}
