.header-item {
	text-decoration: underline solid transparent;
	height: 100%;
	width: 100%;
	display: grid;
	justify-items: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: 300;
	transition: text-decoration 0.5s ease;
}

.header-item:hover {
	text-decoration: underline solid black;
}

@media (prefers-color-scheme: dark) {
	.header-item {
		color: var(--text-color-dark);
	}
	.header-item:hover {
		text-decoration: underline solid var(--text-color-dark);
	}
}

@media only screen and (min-width: 700px) and (prefers-color-scheme: light) {
	.header-item {
		background-color: var(--background-color-light);
		color: var(--text-color-light);
	}
	.header-item:hover {
		text-decoration: underline solid var(--text-color-light);
	}
}
