.social-media-link {
    background-color: #5CCDD6;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    padding: 5px;
    display: block;
    transition: 0.3s;
}

.social-media-container {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
  
.social-media-link:hover {
    background-color: #69f5ff;
}

.social-media-image {
    width: 100%;
    height: 100%;
}