.social-media-link {
	width: 25px;
	height: 25px;
	border-radius: 50px;
	padding: 5px;
	display: block;
	transition: 0.3s;
}

.social-media-container {
	display: grid;
	justify-items: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.social-media-image {
	width: 100%;
	height: 100%;
}

@media (prefers-color-scheme: dark) {
	.social-media-link {
		/* the opposite colors because I invert them */
		background-color: var(--background-color-light);
		color: var(--text-color-light);
	}

	.social-media-link {
		filter: invert(1);
	}

	.social-media-link:hover {
		filter: invert(0);
	}
}

@media (prefers-color-scheme: light) {
	.social-media-link {
		/* the opposite colors because I invert them */
		background-color: var(--background-color-light);
	}

	.social-media-link {
		color: var(--background-color-light);
	}

	.social-media-link:hover {
		filter: invert(1);
	}
}
