.App {
	text-align: center;
	height: 100%;
	font-family: 'Muli', sans-serif;
}

html {
	scroll-behavior: smooth;
	--background-color-light: white;
	--background-color-dark: #232327;
	--text-color-dark: white;
	--text-color-light: black;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.react-reveal {
	/* Fixes a bug in the react reveal library */
	animation-fill-mode: backwards !important;
}

h1 {
	font-size: 2em;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: var(--background-color-dark);
		color: var(--text-color-dark);
	}
}

@media (prefers-color-scheme: light) {
	html {
		background-color: var(--background-color-light);
		color: var(--text-color-light);
	}
}
